@font-face {
  font-family: 'AppleGaramond';
  src: url('fonts/AppleGaramond.woff') format('woff');
}
@font-face {
  font-family: 'AppleGaramond-Italic';
  src: url('fonts/AppleGaramond-Italic.woff') format('woff');
}
* {
  font-family: 'AppleGaramond';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box0 {
  background-color: #222;
}
.box1 {
  width: 95%;
  height: 1200px;
  background-color: #333;
  margin: 0 auto;
  overflow: hidden;
}
.hbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px 20px 5px 20px;
  width: 100%;
  font-size: 30px;
  transition: opacity .25s ease;
  opacity: 1;
}
.hbar:hover {
  color: #22DD00;
  text-decoration-color: #22DD00;
}

/*.fjust-menu:hover {
  color: #FFF;
  opacity: 0;
}*/

.fjust-start {
  justify-content: flex-start;
}
.fjust-end {
  justify-content: flex-end;
}
.fjust-center {
  justify-content: center;
}
.midbox {
  display: flex;
  height: 460px;
  width: 100%;
  background-color: #000;
}
.midimage {
  justify-content: right;
  margin: auto 0;
}
.midtext {
  display: flex;
  font-size: 100px;
  color: #FFF;
  opacity: 0.5;
  flex-direction: column;
}
.midtext:hover {
  color: #EEF;
  opacity: 1;
  transition: opacity .25s ease-in-out;
}
.midtext--footer {
  display: block;
  font-size: 20px;
  color: #444;
  opacity: 0.2;
  font-family: 'AppleGaramond-Italic';
  font-size: 20px;
  padding-top: 5px;
  margin-right: 40px;
  text-decoration: none;
}
.midtext--footer:hover {
  color: #FFF;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  font-family: 'AppleGaramond-Italic';
  padding-top: 12px;
  margin-right: 40px;
  text-decoration: none;
}
.midtextlinedist {
  margin-bottom: 1.5em;
}
.blackfade {
  opacity: 0.4;
  background-color: #000;
}
.blackfade:hover {
  opacity: 1;
  transition: opacity .4s ease;
}
.blackfade--text:hover {
  opacity: 1;
}
.blackfade--text {
  color: #000;
  opacity: 0.2;
  transition: opacity 0.4s ease-out;
  text-decoration: underline;
}
.endbox {
  display: flex;
}
a {
  text-decoration: none;
  color: #000;
}
/*
a:hover {
  text-decoration: underline;
  color: #DDD;
  opacity: 0.5;
}
.button {
  color: #FFF;
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 2px;
  width: 200px;
  margin: 20px auto;
}
.button:hover {
  color: #111;
  background-color: #585858;
}
.inlinemenu {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  width: 40px;
  border: 1px black solid;
  float: left;
}
.box0{
  background-color: #0033ff;
  background-image: url('back.png');
  background-repeat: repeat;
}*/
